body {
  background: #000;
  font-family: 'Open Sans', sans-serif;
}

#carousel {
  position: relative;
  width: 70%; /* Reducido el tamaño del carrusel */
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px; /* Borde redondeado */
  background-color: #222; /* Fondo más oscuro para resaltar el contenido */
}

#slides {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 350px; /* Ajuste de altura */
}

#slides ul {
  list-style: none;
  width: 100%;
  height: 350px; /* Ajuste de altura */
  margin: 0;
  padding: 0;
  position: relative;
}

#slides li {
  width: 100%;
  height: 350px;
  float: left;
  text-align: center;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  color: #DDCEBB;
}

/* Styling for prev and next buttons */
.btn-bar {
  max-width: 346px;
  margin: 0 auto;
  display: block;
  position: relative;
  top: 40px;
  width: 100%;
}

#buttons {
  padding: 0 0 5px 0;
  float: right;
}

#buttons a {
  text-align: center;
  display: block;
  font-size: 40px; /* Ajuste tamaño */
  float: left;
  outline: 0;
  margin: 0 30px;
  color: #DDCEBB;
  text-decoration: none;
  display: block;
  padding: 10px;
  width: 35px;
}

a#prev:hover, a#next:hover {
  color: #FFF;
  text-shadow: .5px 0px #DDCEBB;
}

.quote-phrase, .quote-author {
  font-family: sans-serif;
  font-weight: 300;
  display: table-cell;
  vertical-align: middle;
  padding: 10px 20px;
  font-family: 'Open Sans', sans-serif;
}

.quote-phrase {
  height: 250px; /* Ajuste altura */
  font-size: 20px; /* Ajuste tamaño de texto */
  color: #DDCEBB;
  font-style: italic;
  text-shadow: .5px 0px #DDCEBB;
}

.quote-marks {
  font-size: 35px;
  padding: 0 3px 3px;
  position: inherit;
}

.quote-author {
  font-style: normal;
  font-size: 18px; /* Ajuste tamaño */
  color: #DDCEBB;
  font-weight: 400;
  height: 30px;
}

.quoteContainer, .authorContainer {
  display: table;
  width: 100%;
}