* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
}

/* Video de introducción */
.video-intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* El video ocupa toda la pantalla */
  z-index: 5;  /* Lo ponemos encima de otros elementos */
  overflow: hidden;
}

#intro-video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Hace que el video cubra toda el área */
}

.menu{
    box-sizing: border-box;
  }
  
:root {
    font-family: 'Open Sans', sans-serif;
    --primary-color: #688823;
    --secondary-color: #D93D86;
    --tertiary-color: #FF957D;
    --background-color: #000000;
    --accent-color: #ECD14D;
    --text-color: white ;
    --skull-color: #000000;
}

html {
    background-color: #3A3A3A;
    color: black ;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.centro {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
    color: var(--text-color);
  font-family: 'Jersey 15';
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
}



main {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 650px;
}

.main-card {
    width: 200px;
    border: 1px solid var(--text-color);
    border-radius: 20px;
    padding: 25px;
    background-color: #373838;
}

span {
    margin: 10px;
    font-style: italic;
}

.button-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

button {
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
    background-color: var(--accent-color);
    width: 10rem;
    height: 3rem;
    border-radius: 5px;
    color: var(--skull-color);
    transition: 0.2s;
}

svg {
    margin: 30px;
}

button:hover  {
    background-color: var(--secondary-color);
}

a {
  color: var(--accent-color);
}

.graphic {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.shadow {
    filter: drop-shadow(5px 5px 20px rgb(0 0 0 / 0.7));
}

body {
  background: #000;
  font-family: 'Open Sans', sans-serif;
}

#carousel {
  position: relative;
  width: 70%; /* Reducido el tamaño del carrusel */
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px; /* Borde redondeado */
  background-color: #222; /* Fondo más oscuro para resaltar el contenido */
}

#slides {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 350px; /* Ajuste de altura */
}

#slides ul {
  list-style: none;
  width: 100%;
  height: 350px; /* Ajuste de altura */
  margin: 0;
  padding: 0;
  position: relative;
}

#slides li {
  width: 100%;
  height: 350px;
  float: left;
  text-align: center;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  color: #DDCEBB;
}

/* Styling for prev and next buttons */
.btn-bar {
  max-width: 346px;
  margin: 0 auto;
  display: block;
  position: relative;
  top: 40px;
  width: 100%;
}

#buttons {
  padding: 0 0 5px 0;
  float: right;
}

#buttons a {
  text-align: center;
  display: block;
  font-size: 40px; /* Ajuste tamaño */
  float: left;
  outline: 0;
  margin: 0 30px;
  color: #DDCEBB;
  text-decoration: none;
  display: block;
  padding: 10px;
  width: 35px;
}

a#prev:hover, a#next:hover {
  color: #FFF;
  text-shadow: .5px 0px #DDCEBB;
}

.quote-phrase, .quote-author {
  font-family: sans-serif;
  font-weight: 300;
  display: table-cell;
  vertical-align: middle;
  padding: 10px 20px;
  font-family: 'Open Sans', sans-serif;
}

.quote-phrase {
  height: 250px; /* Ajuste altura */
  font-size: 20px; /* Ajuste tamaño de texto */
  color: #DDCEBB;
  font-style: italic;
  text-shadow: .5px 0px #DDCEBB;
}

.quote-marks {
  font-size: 35px;
  padding: 0 3px 3px;
  position: inherit;
}

.quote-author {
  font-style: normal;
  font-size: 18px; /* Ajuste tamaño */
  color: #DDCEBB;
  font-weight: 400;
  height: 30px;
}

.quoteContainer, .authorContainer {
  display: table;
  width: 100%;
}